{% extends "./base.html.twig" %}

{% block body %}
<div class="w-4/5 m-auto pt-40">
    <h1 class="text-6xl text-center pb-12">
        Edit blog post
    </h1>

    {{ form_start(form) }}

        {{ form_widget(form) }}
        
        <button
            type="submit"
            class="uppercase border border-blue-600 bg-white text-blue-700 text-lg mt-4 py-2 px-4 rounded transition transition-all hover:bg-blue-600 hover:text-white">
            Submit
        </button>

    {{ form_end(form) }}
</div>
{% endblock %}